<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Skapa event</h3>
        </div>
        <div class="panel-body">
            <form>
                Describe event: <br />
                <input type="text" ng-model="ctrl.description"/><br />
              <!--  Position: <br />
                <input type="text" id="lat" placeholder="lat" ng-model="ctrl.lat"/><br />
                <input type="text" id="long" placeholder="long" ng-model="ctrl.long"/><br />-->
                Tag: <br />
                <input type="text" ng-model="ctrl.tag"/>
                <button data-ng-click="ctrl.createEvent()">Skapa</button>
                <p>{{ctrl.result}}</p>
            </form>
        </div>
    </div>
</div>
